{% extends 'core/main.html' %}
{% load static %}
{% block title %}product name{% endblock %}

{% block css_links %}
    <link rel="stylesheet" type="text/css" href="{% static 'product/css/productDetails.css' %}">
    <link rel="stylesheet" href="{% static 'product/css/bootstrap.min.css' %}"> 
{% endblock %}


{% block body_content %}

<div class="wrapper"> 
   <!-- <nav>
        <div class="mainLogo">
            <a class="nav-link waves-effect waves-light" href="{% url 'core:index' %}">
                EasyShop<span class="sr-only">(current)</span>
            </a>
        </div>
        <div class="menu">
            <div class="menuLinks">
                <a href="" class="menuLink">About</a>
                <a href="" class="menuLink">Store</a>
                <a href="" class="menuLink">Contacts</a>
            </div>
    
            <div class="shoppingCart">
                <div class="shoppingIcon">
                    <img src="https://rafaelalucas.com/dailyui/12/assets/shopping-cart.svg" alt=""> 
                    <span class="itemNumber">0</span>
                </div>
                <div class="shoppingMenu">
                    <p class="shoppingTitle">Your Shopping Cart</p>
                    <div class="productResume">
                         <img src="https://rafaelalucas.com/dailyui/12/assets/img01.png" alt="" class="shoppingThumb">
                        <article>
                            <p class="shoppingProduct">Nike Air Max 200</p>
                            <p class="shoppingQuantity">0</p>
                            <p class="shoppingTotal"></p>
                        </article>
                    </div>
                    <div class="shoppingBtn">
                         <a class="link emptyCart"> <img src="https://rafaelalucas.com/dailyui/12/assets/trash.svg" alt=""> Empty Shopping Cart</a>
                        <button class="btn">Finish Shopping</button>
                    </div>
                </div>
            </div>
    
            <i class="iconMenu">
                <img src="https://rafaelalucas.com/dailyui/12/assets/menu.svg" alt="">
            </i>
             <ul class="navbar-nav ml-auto nav-flex-icons">
                <li>
                    <form action="/product/search/" method="get">
                        {% csrf_token %}
                        <input type="text" name="term" size="30"> <input type="submit" value="Search">
                    </form>
                </li>
              <li class="nav-item avatar dropdown">
                <a
                    class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"
                >
                  {% if user.is_authenticated %}
                      {{ user.username }}
                  {% endif %}
                  <img
                      src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" class="rounded-circle z-depth-0"
                      alt="avatar image" height="30"
                  >
                </a>
                <div
                    class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
                    aria-labelledby="navbarDropdownMenuLink-55"
                >
                  {% if user.is_staff %}
                      <a class="dropdown-item" href="{% url 'admin:index' %}">Admin Panel</a>
                  {% endif %}
                  <a class="dropdown-item" href="#">Visit Profile</a>
                  <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                </div>
              </li>
            </ul>
        </div>
    </nav> -->

        <div class="content">
            <div class="container">
                <section id="default" class="padding-top0">
                <div class="row">
                    <hr>
                  <div class="large-5 column">
                    <div class="xzoom-container">
                      <img class="xzoom" id="xzoom-default" src="{% static 'product/images/2.jpg' %}" xoriginal="{% static 'product/images/2.jpg' %}" />
                      <div class="xzoom-thumbs">
                        <a href="{% static 'product/images/2.jpg' %}"><img class="xzoom-gallery" width="80" src="{% static 'product/images/2.jpg' %}"  xpreview="{% static 'product/images/2.jpg' %}"></a>
                          
                        <a href="{% static 'product/images/1.jpg' %}"><img class="xzoom-gallery" width="80" src="{% static 'product/images/1.jpg' %}"></a>
                          
                        <a href="{% static 'product/images/2.jpg' %}"><img class="xzoom-gallery" width="80" src="{% static 'product/images/2.jpg' %}"></a>
                          
                        <a href="{% static 'product/images/1.jpg' %}"><img class="xzoom-gallery" width="80" src="{% static 'product/images/1.jpg' %}"></a>
                      </div>
                    </div>        
                  </div>
                  <div class="large-7 column"></div>
                </div>
                </section>
            </div>
            
             <section class="right">
                 <div class="rightContent">
                     <div class="model">
                         <p class="modelTitle">ASUS</p>
                         <p class="modelDesc">MODEL</p>
                     </div>
 
 
                     <div class="price">
                         <p class="priceFinal"></p>
                         <p class="priceOriginal"></p>
                     </div>
 
                     <div class="specs">
                         <!-- <div class="size">
                             <h3 class="subtitle">Size</h3>
                             <div class="dropdown">
                                 <div class="form dropContent">
                                     <p class="sizeNumber">40</p>
                                     <i class="icon arrowDrop">
                                         <img src="https://rafaelalucas.com/dailyui/12/assets/arrow-down.svg" alt="">
                                     </i>
                                 </div>
                                 <div class="dropOpen">
                                     <ul class="dropItems">
                                         <li class="dropItem">38</li>
                                         <li class="dropItem">39</li>
                                         <li class="dropItem">40</li>
                                         <li class="dropItem">41</li>
                                         <li class="dropItem">42</li>
                                         <li class="dropItem">43</li>
                                         <li class="dropItem">44</li>
                                         <li class="dropItem">45</li>
                                     </ul>
                                 </div>
                             </div>
                         </div> -->
 
                         <div class="quantity">
                             <h3 class="subtitle">Quantity</h3>
                             <div class="form quantityCounter">
                                 <input class="inputQuantity" onKeyDown="return false" type="number" value="1" />
 
                                 <i class="icon btnQuantity minus">
                                     <img src="https://rafaelalucas.com/dailyui/12/assets/minus.svg" alt="">
                                 </i>
                                 <i class="icon btnQuantity plus">
                                     <img src="https://rafaelalucas.com/dailyui/12/assets/plus.svg" alt="">
                                 </i>
                             </div>
 
                             <p class="error">We only have 5 items in stock.</p>
                         </div>
                     </div>
                     <div class="swiper-container galleryThumbs">
                         <div class="swiper-wrapper">
                         </div>
                     </div>

                    <div class="container-login100-form-btn p-t-31">
                        <div class="wrap-login100-form-btn btnContainer">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn btn add">
                                <img src="https://rafaelalucas.com/dailyui/12/assets/shopping-cart-w.svg" alt="">
                                add to cart
                            </button>
                        
                        </div>
                    </div>
 
                 </div>
             </section>

        </div>
        
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#description">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#features">Menu 1</a>
            </li>
        </ul>
         <!-- Tab panes -->
        <div class="tab-content pb-5">
            <div id="description" class="container tab-pane active"><br>
                <h3>Description</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div id="features" class="container tab-pane fade"><br>
                <h3>Features</h3>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
         
</div>

<script src="{% static 'product/vendor/jquery/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'product/js/xzoom.min.js' %}"></script>

<script src="{% static 'product/vendor/bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'product/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

<script src="{% static 'product/js/zoom.js' %}"></script>
<script src="{% static 'product/js/productDetails.js' %}"></script>
{% endblock %}