{% extends 'core/main.html' %}
{% load static %}

{% block body_content %}
    <div>
        {{ product.name }}
    </div>
    <img src="{{ product.cover_image.url }}" style="width: 150px"/>
    <p>Available: {{ product.available }}</p>
    <p>inventory count: {{ product.inventory_count }}</p>
    {% with product.discount_set.all|first as discount %}
    <p>price: {{ product.price }}
       (discount: {{ discount.amount }})</p>
    <div>
    {% endwith %}
        {{ product.description }}
    </div>
    <a href="/">
        <input class="btn btn-info" type="submit" value="Add to cart!"/>
    </a>
    <br/>
    <div>
    <ul>
        {% for feature in product.productfeatures_set.all %}
            <li>{{ feature.feature_name }}: {{ feature.feature_value }}</li>
        {% endfor %}
    </ul>
    </div>
{% endblock %}