{% extends "core/index.html" %}
{% load static %}
{% block body_content %}

	<!-- page -->
	<div class="services-breadcrumb grey-box-shadow">
		<div class="agile_inner_breadcrumb">
			<div class="container">
				<ul class="w3_short">
					<li>
						<a href="{% url 'core:index' %}">Home</a>
						<i>|</i>
						<a>{{product.product_name}}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //page -->

	<!-- Single Page -->
	<div class="banner-bootom-w3-agileits py-5">
		<div class="container py-xl-4 py-lg-2">
			<div class="row">
				<div class="col-lg-5 col-md-8 single-right-left ">
					<div class="grid images_3_of_2">
						<div class="flexslider">
							<ul class="slides">
								{% for im in images %}
									<li data-thumb="{{ im.image.url }}">
										<div class="thumb-image">
											<img src="{{ im.image.url }}" data-imagezoom="true" class="img-fluid" alt=""> 
										</div>
									</li>
								{% endfor %}
							</ul>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>

				<div class="col-lg-7 single-right-left simpleCart_shelfItem">
					<h3 class="mb-3">{{ product.product_name }}</h3>
					<p class="mb-3">
						<span class="item_price">{{ product.price }}$</span>
						<!-- <del class="mx-2 font-weight-light">$280.00</del> -->
						<!-- <label>Free delivery</label> -->
					</p>
					<div class="single-infoagile">
						<ul>
							<li class="mb-3">
								Cash on Delivery Eligible.
							</li>
							<li class="mb-3">
								Shipping Speed to Delivery.
							</li>
							<li class="mb-3">
								EMIs from $655/month.
							</li>
							<li class="mb-3">
								Bank OfferExtra 5% off* with Axis Bank Buzz Credit CardT&C
							</li>
						</ul>
					</div>
					<div class="product-single-w3l">
						<p class="my-3">
							<i class="far fa-hand-point-right mr-2"></i>
							<label>1 Year</label>Manufacturer Warranty</p>
						<ul>
							{% for feature in description %}
								<li class="mb-1">{{ feature.feature_name }}: {{ feature.feature_value }}</li>
							{% endfor %}
						</ul>
						<p class="my-sm-4 my-3">
							<i class="fas fa-retweet mr-3"></i>Net banking & Credit/ Debit/ ATM card
						</p>
					</div>
					<!-- <div class="occasion-cart">
						<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
							<form action="/cart/addcart/" method="post">
								{% csrf_token %}
								<fieldset>
									<input type="hidden" name="quantity" value="1" />
									<input type="hidden" name="product_id" value="{{ product.id }}" />
									<input type="submit" name="submit" value="Add to cart" class="button" />
								</fieldset>
							</form>
						</div>
					</div> -->
					<form action="/cart/addcart/" method="post">
						{% csrf_token %}
						<div class="container-login100-form-btn p-t-31">
                        <div class="wrap-login100-form-btn btnContainer">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn btn add">
								<i class="fas fa-cart-arrow-down" style="color: white"></i>
								add to cart
									<fieldset>
										<input type="hidden" name="quantity" value="1" />
										<input type="hidden" name="product_id" value="{{ product.id }}" />
										<!-- <input type="hidden" name="submit" value="" class="button" /> -->
									</fieldset>
                            </button>
                        </div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- //Single Page -->

{% endblock %}

{% block jquery_block %}

	<!-- js-files -->
	<!-- jquery -->
	<script src="{% static 'product/js/jquery-2.2.3.min.js' %}"></script>
	<!-- //jquery -->

	<!-- nav smooth scroll -->
	<script>
		$(document).ready(function () {
			$(".dropdown").hover(
				function () {
					$('.dropdown-menu', this).stop(true, true).slideDown("fast");
					$(this).toggleClass('open');
				},
				function () {
					$('.dropdown-menu', this).stop(true, true).slideUp("fast");
					$(this).toggleClass('open');
				}
			);
		});
	</script>
	<!-- //nav smooth scroll -->

	<!-- popup modal (for location)-->
	<script src="{% static 'product/js/jquery.magnific-popup.js' %}"></script>
	<script>
		$(document).ready(function () {
			$('.popup-with-zoom-anim').magnificPopup({
				type: 'inline',
				fixedContentPos: false,
				fixedBgPos: true,
				overflowY: 'auto',
				closeBtnInside: true,
				preloader: false,
				midClick: true,
				removalDelay: 300,
				mainClass: 'my-mfp-zoom-in'
			});

		});
	</script>
	<!-- //popup modal (for location)-->

	<!-- cart-js -->
	<script src="{% static 'product/js/minicart.js' %}"></script>
	<script>
		paypals.minicarts.render(); //use only unique class names other than paypals.minicarts.Also Replace same class name in css and minicart.min.js

		paypals.minicarts.cart.on('checkout', function (evt) {
			var items = this.items(),
				len = items.length,
				total = 0,
				i;

			// Count the number of each item in the cart
			for (i = 0; i < len; i++) {
				total += items[i].get('quantity');
			}

			if (total < 3) {
				alert('The minimum order quantity is 3. Please add more to your shopping cart before checking out');
				evt.preventDefault();
			}
		});
	</script>
	<!-- //cart-js -->

	<!-- password-script -->
	<script>
		window.onload = function () {
			document.getElementById("password1").onchange = validatePassword;
			document.getElementById("password2").onchange = validatePassword;
		}

		function validatePassword() {
			var pass2 = document.getElementById("password2").value;
			var pass1 = document.getElementById("password1").value;
			if (pass1 != pass2)
				document.getElementById("password2").setCustomValidity("Passwords Don't Match");
			else
				document.getElementById("password2").setCustomValidity('');
			//empty string means no validation error
		}
	</script>
	<!-- //password-script -->

	<!-- imagezoom -->
	<script src="{% static 'product/js/imagezoom.js' %}"></script>
	<!-- //imagezoom -->

	<!-- flexslider -->
	<link rel="stylesheet" href="{% static 'product/css/flexslider.css' %}" type="text/css" media="screen" />

	<script src="{% static 'product/js/jquery.flexslider.js' %}"></script>
	<script>
		// Can also be used with $(document).ready()
		$(window).load(function () {
			$('.flexslider').flexslider({
				animation: "slide",
				controlNav: "thumbnails"
			});
		});
	</script>
	<!-- //FlexSlider-->

	<!-- smoothscroll -->
	<script src="{% static 'product/js/SmoothScroll.min.js' %}"></script>
	<!-- //smoothscroll -->

	<!-- start-smooth-scrolling -->
	<script src="{% static 'product/js/move-top.js' %}"></script>
	<script src="{% static 'product/js/easing.js' %}"></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();

				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- //end-smooth-scrolling -->

	<!-- smooth-scrolling-of-move-up -->
	<script>
		$(document).ready(function () {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //smooth-scrolling-of-move-up -->

	<!-- for bootstrap working -->
	<script src="{% static 'product/js/bootstrap.js' %}"></script>
	<!-- //for bootstrap working -->
	<!-- //js-files -->
{% endblock %}