.cart-width{
    max-width: 8%;
}
.purple-hover:hover{
    color: #a64bf4 !important;
}

.btn-style{
    color: #a64bf4;
    border-color: #a64bf4;
}

.btn-style:hover{
    box-shadow: 0px 0px 10px 3px #a64bf4;
}

.form-style{
    border-radius: 10px;
}