<!DOCTYPE html>
{% load static %}
<html>

<head>
	    <!-- Required meta tags -->
		<meta charset="utf-8">
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		>
	
		<!-- Bootstrap CSS -->
		<!-- <link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
			integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
			crossorigin="anonymous"
		> -->
		<link rel="stylesheet" type="text/css" href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'core/css/main.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'product/css/productDetails.css' %}">
		<!-- FontAwesome icons -->
		<script src="https://use.fontawesome.com/e8f4dc5178.js"></script>
		<link rel="stylesheet" href="{% static 'product/css/search-result.css' %}">

		{% block css_links %}
	{#        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"> #}
	
		{% endblock %}
	<title>{% block title %}Store{% endblock %}</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta charset="UTF-8" />
	<meta name="keywords" content=""/>
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta tag Keywords -->

	<!-- Custom-Files -->
	<link href="{% static 'core/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
	<!-- Bootstrap css -->
	<link href="{% static 'core/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
	<!-- Main css -->
	<link rel="stylesheet" href="{% static 'core/css/fontawesome-all.css' %}">
	<!-- Font-Awesome-Icons-CSS -->
	<link href="{% static 'core/css/popuo-box.css' %}" rel="stylesheet" type="text/css" media="all" />
	<!-- pop-up-box -->
	<link href="{% static 'core/css/menu.css' %}" rel="stylesheet" type="text/css" media="all" />
	<!-- menu style -->
	<!-- //Custom-Files -->

	<!-- web fonts -->
	<link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
	    rel="stylesheet">
	<!-- //web fonts -->

</head>

{% block internal_css %}
    <style>
        .navbar {
            margin-bottom: 30px !important;
        }
    </style>
{% endblock %}

<body>

	{% block body_navbar %}
	<!-- top-header -->
	<div class="agile-main-top">
		<div class="container-fluid">
			<div class="row main-top-w3l py-2">
				<div class="col-lg-4 header-most-top">
					<p class="text-white text-lg-left text-center">Offer Zone Top Deals & Discounts
						<i class="fas fa-shopping-cart ml-1"></i>
					</p>
				</div>
				<div class="col-lg-8 header-right mt-lg-0 mt-2">
					<!-- header lists -->
					<ul>
						<li class="text-center border-right text-white">
							<a class="play-icon popup-with-zoom-anim text-white" href="#small-dialog1">
								<i class="fas fa-map-marker mr-2"></i>Select Location</a>
						</li>
						<li class="text-center border-right text-white">
							<a href="#" data-toggle="modal" data-target="#exampleModal" class="text-white">
								<i class="fas fa-truck mr-2"></i>Track Order</a>
						</li>
						<li class="text-center border-right text-white">
							<i class="fas fa-phone mr-2"></i> 001 234 5678
						</li>
						<li class="text-center border-right text-white">
							<a href="{% url 'logout' %}"  data-target="#exampleModal" class="text-white">
								<i class="fas fa-sign-in-alt mr-2"></i> Log In </a>
						</li>
						<li class="text-center text-white">
							<a href="{% url 'register_form' %}" data-target="#exampleModal2" class="text-white">
								<i class="fas fa-sign-out-alt mr-2"></i> Register </a>
						</li>
					</ul>
					<!-- //header lists -->
				</div>
			</div>
		</div>
	</div>
	<!-- header-bottom-->
	<div class="header-bot">
		<div class="container">
			<div class="row header-bot_inner_wthreeinfo_header_mid">
				<!-- logo -->
				<div class="col-md-3 logo_agile">
					<h1 class="text-center">
						<a href="{% url 'core:index' %}" class="font-weight-bold font-italic">
							Easy Shop
						</a>
					</h1>
				</div>
				<!-- //logo -->
				<!-- header-bot -->
				<div class="col-md-9 header mt-4 mb-md-0 mb-4">
					<div class="row">
						<!-- search -->
						<div class="col-10 agileits_search">
							<form class="form-inline" action="/product/search/" method="get">
								{% csrf_token %}
								<input class="form-control mr-sm-2" type="search" name="term" placeholder="Search" aria-label="Search" required>
								<button class="btn my-2 my-sm-0" type="submit">Search</button>
							</form>
						</div>
						<!-- //search -->
						<!-- cart details -->
						<div class="col-2 top_nav_right text-center mt-sm-0 mt-2">
							<div class="wthreecartaits wthreecartaits2 cart cart box_1">
								<form action="/cart/" method="post" class="last">
									{% csrf_token %}
									<button class="btn w3view-cart" type="submit" name="submit" value="">
										<i class="fas fa-cart-arrow-down"></i>
									</button>
								</form>
							</div>
						</div>
						<!-- //cart details -->
					</div>
				</div>
			</div>
		</div>
	</div>

		<!-- navigation -->
		<div class="navbar-inner">
			<div class="container">
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
					<div class="agileits-navi_search">
						<form action="#" method="post">
							<select id="agileinfo-nav_search" name="agileinfo_search" class="border" required="">
								<option value="">All Categories</option>
								<option value="Televisions">Televisions</option>
								<option value="Headphones">Headphones</option>
								<option value="Computers">Computers</option>
								<option value="Appliances">Appliances</option>
								<option value="Mobiles">Mobiles</option>
								<option value="Fruits &amp; Vegetables">Tv &amp; Video</option>
								<option value="iPad & Tablets">iPad & Tablets</option>
								<option value="Cameras & Camcorders">Cameras & Camcorders</option>
								<option value="Home Audio & Theater">Home Audio & Theater</option>
							</select>
						</form>
					</div>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ml-auto text-center mr-xl-5">
							<li class="nav-item active mr-lg-2 mb-lg-0 mb-2">
								<a class="nav-link" href="index.html">Home
									<span class="sr-only">(current)</span>
								</a>
							</li>
							<li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
								<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Electronics
								</a>
								<div class="dropdown-menu">
									<div class="agile_inner_drop_nav_info p-4">
										<h5 class="mb-3">Mobiles, Computers</h5>
										<div class="row">
											<div class="col-sm-6 multi-gd-img">
												<ul class="multi-column-dropdown">
													<li>
														<a href="product.html">All Mobile Phones</a>
													</li>
													<li>
														<a href="product.html">All Mobile Accessories</a>
													</li>
													<li>
														<a href="product.html">Cases & Covers</a>
													</li>
													<li>
														<a href="product.html">Screen Protectors</a>
													</li>
													<li>
														<a href="product.html">Power Banks</a>
													</li>
													<li>
														<a href="product.html">All Certified Refurbished</a>
													</li>
													<li>
														<a href="product.html">Tablets</a>
													</li>
													<li>
														<a href="product.html">Wearable Devices</a>
													</li>
													<li>
														<a href="product.html">Smart Home</a>
													</li>
												</ul>
											</div>
											<div class="col-sm-6 multi-gd-img">
												<ul class="multi-column-dropdown">
													<li>
														<a href="product.html">Laptops</a>
													</li>
													<li>
														<a href="product.html">Drives & Storage</a>
													</li>
													<li>
														<a href="product.html">Printers & Ink</a>
													</li>
													<li>
														<a href="product.html">Networking Devices</a>
													</li>
													<li>
														<a href="product.html">Computer Accessories</a>
													</li>
													<li>
														<a href="product.html">Game Zone</a>
													</li>
													<li>
														<a href="product.html">Software</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
								<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Appliances
								</a>
								<div class="dropdown-menu">
									<div class="agile_inner_drop_nav_info p-4">
										<h5 class="mb-3">TV, Appliances, Electronics</h5>
										<div class="row">
											<div class="col-sm-6 multi-gd-img">
												<ul class="multi-column-dropdown">
													<li>
														<a href="product2.html">Televisions</a>
													</li>
													<li>
														<a href="product2.html">Home Entertainment Systems</a>
													</li>
													<li>
														<a href="product2.html">Headphones</a>
													</li>
													<li>
														<a href="product2.html">Speakers</a>
													</li>
													<li>
														<a href="product2.html">MP3, Media Players & Accessories</a>
													</li>
													<li>
														<a href="product2.html">Audio & Video Accessories</a>
													</li>
													<li>
														<a href="product2.html">Cameras</a>
													</li>
													<li>
														<a href="product2.html">DSLR Cameras</a>
													</li>
													<li>
														<a href="product2.html">Camera Accessories</a>
													</li>
												</ul>
											</div>
											<div class="col-sm-6 multi-gd-img">
												<ul class="multi-column-dropdown">
													<li>
														<a href="product2.html">Musical Instruments</a>
													</li>
													<li>
														<a href="product2.html">Gaming Consoles</a>
													</li>
													<li>
														<a href="product2.html">All Electronics</a>
													</li>
													<li>
														<a href="product2.html">Air Conditioners</a>
													</li>
													<li>
														<a href="product2.html">Refrigerators</a>
													</li>
													<li>
														<a href="product2.html">Washing Machines</a>
													</li>
													<li>
														<a href="product2.html">Kitchen & Home Appliances</a>
													</li>
													<li>
														<a href="product2.html">Heating & Cooling Appliances</a>
													</li>
													<li>
														<a href="product2.html">All Appliances</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="nav-item mr-lg-2 mb-lg-0 mb-2">
								<a class="nav-link" href="about.html">About Us</a>
							</li>
							<li class="nav-item mr-lg-2 mb-lg-0 mb-2">
								<a class="nav-link" href="product.html">New Arrivals</a>
							</li>
							<li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
								<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Pages
								</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="product.html">Product 1</a>
									<a class="dropdown-item" href="product2.html">Product 2</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="single.html">Single Product 1</a>
									<a class="dropdown-item" href="single2.html">Single Product 2</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="checkout.html">Checkout Page</a>
									<a class="dropdown-item" href="payment.html">Payment Page</a>
								</div>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="contact.html">Contact Us</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
		<!-- //navigation -->
    {% endblock %}

    <div class="container-fluid">
		{% block body_content %}
			<!-- shop locator (popup) -->
			<!-- //header-bottom -->

			<!-- banner -->
			<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
				<!-- Indicators-->
				<ol class="carousel-indicators">
					<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
				</ol>
				<div class="carousel-inner">
					<div class="carousel-item item1 active">
						<div class="container">
							<div class="w3l-space-banner">
								<div class="carousel-caption p-lg-5 p-sm-4 p-3">
									<p>Get flat
										<span>10%</span> Cashback</p>
									<h3 class="font-weight-bold pt-2 pb-lg-5 pb-4">The
										<span>Big</span>
										Sale
									</h3>
									<a class="button2" href="product.html">Shop Now </a>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item item2">
						<div class="container">
							<div class="w3l-space-banner">
								<div class="carousel-caption p-lg-5 p-sm-4 p-3">
									<p>advanced
										<span>Wireless</span> earbuds</p>
									<h3 class="font-weight-bold pt-2 pb-lg-5 pb-4">Best
										<span>Headphone</span>
									</h3>
									<a class="button2" href="product.html">Shop Now </a>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item item3">
						<div class="container">
							<div class="w3l-space-banner">
								<div class="carousel-caption p-lg-5 p-sm-4 p-3">
									<p>Get flat
										<span>10%</span> Cashback</p>
									<h3 class="font-weight-bold pt-2 pb-lg-5 pb-4">New
										<span>Standard</span>
									</h3>
									<a class="button2" href="product.html">Shop Now </a>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item item4">
						<div class="container">
							<div class="w3l-space-banner">
								<div class="carousel-caption p-lg-5 p-sm-4 p-3">
									<p>Get Now
										<span>40%</span> Discount</p>
									<h3 class="font-weight-bold pt-2 pb-lg-5 pb-4">Today
										<span>Discount</span>
									</h3>
									<a class="button2" href="product.html">Shop Now </a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
			<!-- //banner -->
			<!-- top Products -->
			<div class="ads-grid py-sm-5 py-4">
				<div class="container py-xl-4 py-lg-2">		
					<div class="row">
						<!-- product left -->
						<div class="agileinfo-ads-display col-lg-9">
							<div class="wrapper">
								<!-- first section -->
								<div class="container">
									<div class="row">
										{% for product in products %}
										<div class="col-sm">
											<figure class="snip1492">
												<img src="{{ product.cover_image.url }}" alt="sample60" />
												<figcaption>
													<h3>{{ product.product_name}}</h3>
													<p>{{product.description}}</p>
													<div class="price">
													<s>{{ product.price}}</s>
													</div>
												</figcaption>
												<i class="ion-plus-round"></i>
												<a href="{% url 'product:product_detail-page' product.id %}"></a>
											</figure>
										</div>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
						<!-- //product left -->
		
						<!-- product right -->
						<div class="col-lg-3 mt-lg-0 mt-4 p-lg-0">
							<div class="side-bar p-sm-4 p-3">
								<div class="search-hotel border-bottom py-2">
									<h3 class="agileits-sear-head mb-3">Search Here..</h3>
									<form action="#" method="post">
										<input type="search" placeholder="Product name..." name="search" required="">
										<input type="submit" value=" ">
									</form>
								</div>
								<!-- price -->
								<div class="range border-bottom py-2">
									<h3 class="agileits-sear-head mb-3">Price</h3>
									<div class="w3l-range">
										<ul>
											<li>
												<a href="#">Under $1,000</a>
											</li>
											<li class="my-1">
												<a href="#">$1,000 - $5,000</a>
											</li>
											<li>
												<a href="#">$5,000 - $10,000</a>
											</li>
											<li class="my-1">
												<a href="#">$10,000 - $20,000</a>
											</li>
											<li>
												<a href="#">$20,000 $30,000</a>
											</li>
											<li class="mt-1">
												<a href="#">Over $30,000</a>
											</li>
										</ul>
									</div>
								</div>
								<!-- //price -->
								<!-- discounts -->
								<div class="left-side border-bottom py-2">
									<h3 class="agileits-sear-head mb-3">Discount</h3>
									<ul>
										<li>
											<input type="checkbox" class="checked">
											<span class="span">5% or More</span>
										</li>
										<li>
											<input type="checkbox" class="checked">
											<span class="span">10% or More</span>
										</li>
										<li>
											<input type="checkbox" class="checked">
											<span class="span">20% or More</span>
										</li>
										<li>
											<input type="checkbox" class="checked">
											<span class="span">30% or More</span>
										</li>
										<li>
											<input type="checkbox" class="checked">
											<span class="span">50% or More</span>
										</li>
										<li>
											<input type="checkbox" class="checked">
											<span class="span">60% or More</span>
										</li>
									</ul>
								</div>
								<!-- //discounts -->
								<!-- reviews -->
								<div class="customer-rev border-bottom left-side py-2">
									<h3 class="agileits-sear-head mb-3">Customer Review</h3>
									<ul>
										<li>
											<a href="#">
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<span>5.0</span>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<span>4.0</span>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<i class="fas fa-star-half"></i>
												<span>3.5</span>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<span>3.0</span>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="fas fa-star"></i>
												<i class="fas fa-star"></i>
												<i class="fas fa-star-half"></i>
												<span>2.5</span>
											</a>
										</li>
									</ul>
								</div>
								<!-- //reviews -->
								<!-- electronics -->
								<div class="left-side border-bottom py-2">
									<h3 class="agileits-sear-head mb-3">Electronics</h3>
									<ul>
										<li>
											<input type="checkbox" class="checked">
											<span class="span">Accessories</span>
										</li>
										<li>
											<input type="checkbox" class="checked">
											<span class="span">Cameras & Photography</span>
										</li>
										<li>
											<input type="checkbox" class="checked">
											<span class="span">Car & Vehicle Electronics</span>
										</li>
										<li>
											<input type="checkbox" class="checked">
											<span class="span">Computers & Accessories</span>
										</li>
										<li>
											<input type="checkbox" class="checked">
											<span class="span">GPS & Accessories</span>
										</li>
										<li>
											<input type="checkbox" class="checked">
											<span class="span">Headphones</span>
										</li>
										<li>
											<input type="checkbox" class="checked">
											<span class="span">Home Audio</span>
										</li>
										<li>
											<input type="checkbox" class="checked">
											<span class="span">Home Theater, TV & Video</span>
										</li>
										<li>
											<input type="checkbox" class="checked">
											<span class="span">Mobiles & Accessories</span>
										</li>
										<li>
											<input type="checkbox" class="checked">
											<span class="span">Portable Media Players</span>
										</li>
										<li>
											<input type="checkbox" class="checked">
											<span class="span">Tablets</span>
										</li>
										<li>
											<input type="checkbox" class="checked">
											<span class="span">Telephones & Accessories</span>
										</li>
										<li>
											<input type="checkbox" class="checked">
											<span class="span">Wearable Technology</span>
										</li>
									</ul>
								</div>
								<!-- //electronics -->
								<!-- delivery -->
								<div class="left-side border-bottom py-2">
									<h3 class="agileits-sear-head mb-3">Cash On Delivery</h3>
									<ul>
										<li>
											<input type="checkbox" class="checked">
											<span class="span">Eligible for Cash On Delivery</span>
										</li>
									</ul>
								</div>
								<!-- //delivery -->
								<!-- arrivals -->
								<div class="left-side border-bottom py-2">
									<h3 class="agileits-sear-head mb-3">New Arrivals</h3>
									<ul>
										<li>
											<input type="checkbox" class="checked">
											<span class="span">Last 30 days</span>
										</li>
										<li>
											<input type="checkbox" class="checked">
											<span class="span">Last 90 days</span>
										</li>
									</ul>
								</div>
								<!-- //arrivals -->
								<!-- best seller -->
								<div class="f-grid py-2">
									<h3 class="agileits-sear-head mb-3">Best Seller</h3>
									<div class="box-scroll">
										<div class="scroll">
											<div class="row">
												<div class="col-lg-3 col-sm-2 col-3 left-mar">
													<img src="images/k1.jpg" alt="" class="img-fluid">
												</div>
												<div class="col-lg-9 col-sm-10 col-9 w3_mvd">
													<a href="">Samsung Galaxy On7 Prime (Gold, 4GB RAM + 64GB Memory)</a>
													<a href="" class="price-mar mt-2">$12,990.00</a>
												</div>
											</div>
											<div class="row my-4">
												<div class="col-lg-3 col-sm-2 col-3 left-mar">
													<img src="images/k2.jpg" alt="" class="img-fluid">
												</div>
												<div class="col-lg-9 col-sm-10 col-9 w3_mvd">
													<a href="">Haier 195 L 4 Star Direct-Cool Single Door Refrigerator</a>
													<a href="" class="price-mar mt-2">$12,499.00</a>
												</div>
											</div>
											<div class="row">
												<div class="col-lg-3 col-sm-2 col-3 left-mar">
													<img src="images/k3.jpg" alt="" class="img-fluid">
												</div>
												<div class="col-lg-9 col-sm-10 col-9 w3_mvd">
													<a href="">Ambrane 13000 mAh Power Bank (P-1310 Premium)</a>
													<a href="" class="price-mar mt-2">$1,199.00 </a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- //best seller -->
							</div>
							<!-- //product right -->
						</div>
					</div>
				</div>
			</div>
			<!-- //top products -->

		{% endblock %}
		
		
    </div> <!-- container-fluid -->

	
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script
        src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"
    ></script>
    <script
        src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"
    ></script>
    <script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"
    ></script>
    <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"
    ></script> -->

    {% block jquery_block %}

	<!-- js-files -->
	<!-- jquery -->
	<script src="{% static 'core/js/jquery-2.2.3.min.js' %}"></script>
	<!-- //jquery -->

	<!-- nav smooth scroll -->
	<script>
		$(document).ready(function () {
			$(".dropdown").hover(
				function () {
					$('.dropdown-menu', this).stop(true, true).slideDown("fast");
					$(this).toggleClass('open');
				},
				function () {
					$('.dropdown-menu', this).stop(true, true).slideUp("fast");
					$(this).toggleClass('open');
				}
			);
		});
	</script>
	<!-- //nav smooth scroll -->

	<!-- popup modal (for location)-->
	<script src="{% static 'core/js/jquery.magnific-popup.js' %}"></script>
	<script>
		$(document).ready(function () {
			$('.popup-with-zoom-anim').magnificPopup({
				type: 'inline',
				fixedContentPos: false,
				fixedBgPos: true,
				overflowY: 'auto',
				closeBtnInside: true,
				preloader: false,
				midClick: true,
				removalDelay: 300,
				mainClass: 'my-mfp-zoom-in'
			});

		});
	</script>
	<!-- //popup modal (for location)-->

	<!-- cart-js -->
	<script src="{% static 'core/js/minicart.js' %}"></script>
	<script>
		paypals.minicarts.render(); //use only unique class names other than paypals.minicarts.Also Replace same class name in css and minicart.min.js

		paypals.minicarts.cart.on('checkout', function (evt) {
			var items = this.items(),
				len = items.length,
				total = 0,
				i;

			// Count the number of each item in the cart
			for (i = 0; i < len; i++) {
				total += items[i].get('quantity');
			}

			if (total < 3) {
				alert('The minimum order quantity is 3. Please add more to your shopping cart before checking out');
				evt.preventDefault();
			}
		});
	</script>
	<!-- //cart-js -->

	<!-- password-script -->
	<script>
		window.onload = function () {
			document.getElementById("password1").onchange = validatePassword;
			document.getElementById("password2").onchange = validatePassword;
		}

		function validatePassword() {
			var pass2 = document.getElementById("password2").value;
			var pass1 = document.getElementById("password1").value;
			if (pass1 != pass2)
				document.getElementById("password2").setCustomValidity("Passwords Don't Match");
			else
				document.getElementById("password2").setCustomValidity('');
			//empty string means no validation error
		}
	</script>
	<!-- //password-script -->
	
	<!-- scroll seller -->
	<script src="{% static 'core/js/scroll.js' %}"></script>
	<!-- //scroll seller -->

	<!-- smoothscroll -->
	<script src="{% static 'core/js/SmoothScroll.min.js' %}"></script>
	<!-- //smoothscroll -->

	<!-- start-smooth-scrolling -->
	<script src="{% static 'core/js/move-top.js' %}"></script>
	<script src="{% static 'core/js/easing.js' %}"></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();

				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- //end-smooth-scrolling -->

	<!-- smooth-scrolling-of-move-up -->
	<script>
		$(document).ready(function () {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //smooth-scrolling-of-move-up -->

	<!-- for bootstrap working -->
	<script src="{% static 'core/js/bootstrap.js' %}"></script>
	<!-- //for bootstrap working -->
	<!-- //js-files -->
	{% endblock %}
</body>

</html>