<!DOCTYPE html>
{% load static %}
<html>

<head>
	    <!-- Required meta tags -->
		<meta charset="utf-8">
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		>
	
		<!-- Bootstrap CSS -->
		<!-- <link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
			integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
			crossorigin="anonymous"
		> -->
		<!-- FontAwesome icons -->
		<script src="https://use.fontawesome.com/e8f4dc5178.js"></script>
		<link rel="stylesheet" href="{% static 'product/css/search-result.css' %}">

		{% block css_links %}
	<!-- {#        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"> #} -->
	
		{% endblock %}
	<title>{% block title %}Store{% endblock %}</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta charset="UTF-8" />
	<meta name="keywords" content=""/>
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta tag Keywords -->

	<!-- Custom-Files -->
	<link href="{% static 'core/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
	<!-- Bootstrap css -->
	<link href="{% static 'core/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
	<!-- Main css -->
	<link rel="stylesheet" href="{% static 'core/css/fontawesome-all.css' %}">
	<!-- Font-Awesome-Icons-CSS -->
	<link href="{% static 'core/css/popuo-box.css' %}" rel="stylesheet" type="text/css" media="all" />
	<!-- pop-up-box -->
	<link href="{% static 'core/css/menu.css' %}" rel="stylesheet" type="text/css" media="all" />
	<!-- menu style -->
	<!-- //Custom-Files -->

	<!-- web fonts -->
	<link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
	    rel="stylesheet">
	<!-- //web fonts -->
	<link href="{% static 'core/css/index.css' %}" rel="stylesheet" type="text/css" media="all"></link>
	<!-- <link rel="stylesheet" href="{% static 'core/css/main.css' %}"> -->
</head>

{% block internal_css %}
    <style>
        .navbar {
            margin-bottom: 30px !important;
        }
    </style>
{% endblock %}

<body>
	
	{% block body_navbar %}
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand purple-hover" href="{% url 'core:index' %}">EasyShop</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
	  
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<form action="/product/search/" method="get" class="form-inline my-2 my-lg-0">
				{% csrf_token %}
				<input class="form-style form-control mr-sm-2" type="search" name="term" placeholder="Search" aria-label="Search" required style="width: 500px;">
				<button class="btn btn-style my-2 my-sm-0 purple-hover" type="submit">Search</button>
			</form>
		  <ul class="navbar-nav ml-auto">
			{% if user.is_authenticated %}
			<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Wellcome {{ user.username }}
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<a class="dropdown-item" href="{% url 'logout' %}">
					<i class="fas fa-sign-out-alt mr-2"></i>Logout</a>
			</div>
			</li>
			{% else %}
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Guest
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="{% url 'logout' %}"  data-target="#exampleModal" class="text-white">
							<i class="fas fa-sign-in-alt mr-2"></i> Log In </a>
						<a class="dropdown-item" href="{% url 'register_form' %}" data-target="#exampleModal2" class="text-white">
							<i class="fas fa-sign-out-alt mr-2"></i> Register </a>
				</div>
			</li>
			{% endif %}
		  </ul>
		  <!-- cart details -->
		  <div class="cart-width col-2 top_nav_right text-center mt-sm-0 mt-2">
			<div class="wthreecartaits wthreecartaits2 cart cart box_1">
				<form action="/cart/" method="post" class="last">
					{% csrf_token %}
					<button class="btn btn-style w3view-cart" type="submit" name="submit" value="">
						<i class="fas fa-cart-arrow-down" style="color: #a64bf4;"></i>
					</button>
				</form>
			</div>
		</div>
		<!-- //cart details -->
		</div>
	</nav>

    {% endblock %}

    <div class="container-fluid">
		{% block body_content %}
			<!-- shop locator (popup) -->
			<!-- //header-bottom -->
			<div class="row">
				<div class="slider-container slideshow-container">
					<div class="main-slider">
						<img class="slider-img active form-style" src="{% static 'core/images/1.jpg' %}">
						<img class="slider-img form-style" src="{% static 'core/images/2.jpg' %}">
						<img class="slider-img form-style" src="{% static 'core/images/ab.jpg' %}">
					</div>
					<nav class="slider-nav">
					<ul>
						<li class="arrow">
						<button class="previous slider-btn" style="border: none; outline: none;">
							<span>
							<i class="ion-arrow-left-c"></i>
							</span>
						</button>
						</li>
						<li class="arrow">
						<button class="next slider-btn" style="border: none; outline: none;">
							<span>
							<i class="ion-arrow-right-c"></i>
							</span>
						</button>
						</li>
					</ul>
					</nav>
					<div style="text-align:center; margin-right: 5rem;">
						<span class="dot active"></span> 
						<span class="dot"></span> 
						<span class="dot"></span> 
					</div>
				</div>
				
				<div class="col-sm row mt-5" style="margin-right: 0px;">
					<div class="col-md-6">
						<img src="{% static 'core/images/free-shipping.png' %}" style="width: 50%;">
						<span style="float: left; margin-top: 15px;">Express delivery</span>
					</div>
					<div class="col-md-6">
						<img src="{% static 'core/images/7-days.png' %}" style="width: 50%;">
						<span style="float: left; margin-top: 15px;">24 hour support</span>
					</div>
					<div class="col-md-6" style="margin-top: -3rem;">
						<img src="{% static 'core/images/sticker.png' %}" style="width: 50%;">
						<span style="display: flex; margin-top: 15px;">Orginal items</span>
					</div>
					<div class="col-md-6" style="margin-top: -3rem;">
						<img src="{% static 'core/images/simple-data-format.png' %}" style="width: 50%;">
						<span style="float: left;margin-top: 15px;">Simple for everyone to use</span>
					</div>
				</div>
			</div>
			<!-- top Products -->
			<div class="ads-grid py-sm-5 py-4">
				<div class="container py-xl-4 py-lg-2 grey-box-shadow">		
					<div class="row">
						<!-- product left -->
						<div class="agileinfo-ads-display col-lg-9">
							<div class="wrapper">
								<!-- first section -->
								<div class="container">
									<div class="row">
										{% for product in products %}
										<div class="col-sm-4">
											<figure class="snip1492 grey-box-shadow">
												<img src="{{ product.cover_image.url }}" alt="sample60" />
												<figcaption>
													<h3>{{ product.product_name}}</h3>
													<p>{{product.description}}</p>
													<div class="price">
													<s>{{ product.price}}</s>
													</div>
												</figcaption>
												<i class="ion-plus-round"></i>
												<a href="{% url 'product:product_detail-page' product.id %}"></a>
											</figure>
										</div>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
						<!-- //product left -->

					</div>
				</div>
			</div>
			<!-- //top products -->

		{% endblock %}
		
		
    </div> <!-- container-fluid -->

	
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script
        src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"
    ></script>
    <script
        src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"
    ></script>
    <script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"
    ></script>
    <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"
    ></script> -->

    {% block jquery_block %}

	<!-- js-files -->
	<!-- jquery -->
	<script src="{% static 'core/js/jquery-2.2.3.min.js' %}"></script>
	<!-- //jquery -->

	<!-- nav smooth scroll -->
	<script>
		$(document).ready(function () {
			$(".dropdown").hover(
				function () {
					$('.dropdown-menu', this).stop(true, true).slideDown("fast");
					$(this).toggleClass('open');
				},
				function () {
					$('.dropdown-menu', this).stop(true, true).slideUp("fast");
					$(this).toggleClass('open');
				}
			);
		});
	</script>
	<!-- //nav smooth scroll -->

	<!-- popup modal (for location)-->
	<!-- <script src="{% static 'core/js/jquery.magnific-popup.js' %}"></script>
	<script>
		$(document).ready(function () {
			$('.popup-with-zoom-anim').magnificPopup({
				type: 'inline',
				fixedContentPos: false,
				fixedBgPos: true,
				overflowY: 'auto',
				closeBtnInside: true,
				preloader: false,
				midClick: true,
				removalDelay: 300,
				mainClass: 'my-mfp-zoom-in'
			});

		});
	</script> -->
	<!-- //popup modal (for location)-->

	<!-- cart-js -->
	<script src="{% static 'core/js/minicart.js' %}"></script>
	<script>
		paypals.minicarts.render(); //use only unique class names other than paypals.minicarts.Also Replace same class name in css and minicart.min.js

		paypals.minicarts.cart.on('checkout', function (evt) {
			var items = this.items(),
				len = items.length,
				total = 0,
				i;

			// Count the number of each item in the cart
			for (i = 0; i < len; i++) {
				total += items[i].get('quantity');
			}

			if (total < 3) {
				alert('The minimum order quantity is 3. Please add more to your shopping cart before checking out');
				evt.preventDefault();
			}
		});
	</script>
	<!-- //cart-js -->

	<!-- password-script -->
	<!-- <script>
		window.onload = function () {
			document.getElementById("password1").onchange = validatePassword;
			document.getElementById("password2").onchange = validatePassword;
		}

		function validatePassword() {
			var pass2 = document.getElementById("password2").value;
			var pass1 = document.getElementById("password1").value;
			if (pass1 != pass2)
				document.getElementById("password2").setCustomValidity("Passwords Don't Match");
			else
				document.getElementById("password2").setCustomValidity('');
			//empty string means no validation error
		}
	</script> -->
	<!-- //password-script -->
	
	<!-- scroll seller -->
	<script src="{% static 'core/js/scroll.js' %}"></script>
	<!-- //scroll seller -->

	<!-- smoothscroll -->
	<script src="{% static 'core/js/SmoothScroll.min.js' %}"></script>
	<!-- //smoothscroll -->

	<!-- start-smooth-scrolling -->
	<script src="{% static 'core/js/move-top.js' %}"></script>
	<script src="{% static 'core/js/easing.js' %}"></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();

				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- //end-smooth-scrolling -->

	<!-- smooth-scrolling-of-move-up -->
	<script>
		$(document).ready(function () {
			
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			
			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //smooth-scrolling-of-move-up -->

	<!-- for bootstrap working -->
	<script src="{% static 'core/js/bootstrap.js' %}"></script>
	
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
	<script src="{% static 'core/js/index.js' %}"></script>
	<!-- //for bootstrap working -->
	<!-- //js-files -->
	{% endblock %}
</body>

</html>