{% extends "core/index.html" %}
{% block productDetailsBlock %}
<ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
</ul>

<div class="container-fluid">
    <div class="row">
        <div class="col-4" style="background-color: brown;height: 100px;">
        </div>
        <div class="col-8" style="background-color: blueviolet;height: 100px;">
        </div>
    </div>
</div>
{% endblock %}